#zone 
{ 
	border: 1px solid black;
	background-color: greenyellow;
	display:block;
	margin:auto;
	margin-top: 62px;
	

}
body
{background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(top, rgb(180,221,180) 0%, rgb(131,199,131) 17%, rgb(82,177,82) 33%, rgb(0,138,0) 67%, rgb(0,87,0) 83%, rgb(0,36,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(180,221,180) 0%,rgb(131,199,131) 17%,rgb(82,177,82) 33%,rgb(0,138,0) 67%,rgb(0,87,0) 83%,rgb(0,36,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(180,221,180) 0%,rgb(131,199,131) 17%,rgb(82,177,82) 33%,rgb(0,138,0) 67%,rgb(0,87,0) 83%,rgb(0,36,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
color: white;
margin-left:auto;
margin-right: auto;
width: 100vw;
height : 98vh;

}
div
{
text-align: center;
}
#cadre
{
	border: 1px solid transparent;
		margin:auto;
background-image: url("./3310.png");
background-repeat:no-repeat;
    background-position: center; 

width: 250px;
height : 260px;
}